<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.callx.app.youtube.library">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <application>
        <activity android:name=".YouTubeLibraryFragment" android:exported="false" />
        <activity android:name=".YouTubeHistoryActivity"     android:exported="false" />
        <activity android:name=".YouTubeManageHistoryActivity" android:exported="false" />
        <activity android:name=".YouTubePlaylistActivity"    android:exported="false" />
        <activity android:name=".YouTubePlaylistCreateActivity" android:exported="false" />
        <activity android:name=".YouTubeDownloadsActivity"   android:exported="false" />
        <activity android:name=".YouTubeLikedVideosActivity" android:exported="false" />
        <activity android:name=".YouTubeWatchLaterActivity"  android:exported="false" />
    </application>
</manifest>
