<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.callx.app.conversation.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.callx.app.group.GroupChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.callx.app.group.GroupInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.callx.app.group.GroupSettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.callx.app.group.NewGroupActivity"
            android:exported="false"/>
        <activity android:name="com.callx.app.starred.StarredMessagesActivity"
            android:exported="false"
            android:parentActivityName="com.callx.app.conversation.ChatActivity"/>
        <activity android:name="com.callx.app.gif.GifPickerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.callx.app.settings.MutedChatsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
