<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.callx.app.youtube.comments">
    <application>
        <activity
            android:name=".YouTubeCommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
    </application>
</manifest>
